body {
    font-family: sans-serif;
    line-height: 1.5;
    max-width: 700px;
    margin: 40px auto;
    padding: 0 15px;
}

pre, code {
    background: #eee;
}

pre {
    padding: 10px;
    overflow-x: auto;
}
